@font-face {
    font-family: "Minecrafter.Alt";
    src: url("./font/Minecrafter.Alt.ttf");
}

body {
    margin: 0;
}

#modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 12345;
}

#modal-wrapper .modal {
    background-color: white;
    width: 90vw;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 5px;
    text-align: center;
    background-image: url('../img/bgm.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Minecrafter.Alt";
    color: white;
    text-shadow: 3px 3px #000000;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content h1 {
    font-size: 2rem;
    margin-block-start: 0.3rem;
    margin-block-end: 0.3rem;
}

.modal-content h3 {
    font-size: 1rem;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

.modal-title {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 30vh;
}

#new-game {
    color: red;
    background-color: yellow;
    height: 5vh;
    width: 20vh;
    font-size: 1.3rem;
    font-family: "Minecrafter.Alt";
    text-align: center;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    font-size: 0;
    box-sizing: border-box;
    background-image: url('../img/bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: azure;
    background-blend-mode: hard-light;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-row {
    width: 80vh;
    display: flex;
    justify-content: space-between;
    background-color: cornsilk;
}

.menui {
    display: flex;
    height: calc(80vh / 12);
    width: calc(80vh / 6);
    font-size: calc(80vh / 18);
    font-family: "Minecrafter.Alt";
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
}

.flex-inline {

    box-sizing: border-box;
}

.board {
    box-sizing: border-box;
}

.row {
    box-sizing: border-box;
    width: 80vh;
}

.tile {
    display: inline-block;
    background-image: url('../img/sky2.png');
    background-size: cover;
    height: calc(80vh / 24);
    width: calc(80vh / 24);
    box-sizing: border-box;
}

.tile:hover {
    opacity: 0;
    background-color: #fff;
}

.tile.dirt {
    background-image: url('../img/dirt2.png');
}

.tile.grass {
    background-image: url('../img/grass2.png');
}

.tile.wood {
    background-image: url('../img/wood2.png');
}

.tile.tree {
    background-image: url('../img/tree2.png');
}

.tile.cloud {
    background-image: url('../img/cloud2.png');
}


.tile.rock {
    background-image: url('../img/rock2.png');
}

.menu-col {
    height: 86.67vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: cornsilk;
    align-self: center;
    font-size: calc(80vh / 46);
    font-family: "Minecrafter.Alt";
}

.menu-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70vh;
}

.title {
    display: flex;
    align-items: flex-end;
    padding: 5px;
}

.tool {
    height: calc(80vh / 12);
    background-size: calc(80vh / 14);
    background-repeat: no-repeat;
    background-position: center;
    height: calc(80vh / 12);
    width: calc(80vh / 12);
}

#shovel {
    background-image: url('../img/shovel.png');
}

#axe {
    background-image: url('../img/axe.png');
}

#pickaxe {
    background-image: url('../img/pickaxe.png');
}

.inv {
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-size: calc(80vh / 32);
    background-size: calc(80vh / 16);
    background-repeat: no-repeat;
    background-position: center;
    height: calc(80vh / 12);
    width: calc(80vh / 12);
}


#grass {
    background-image: url('../img/grass2.png');
}

#dirt {
    background-image: url('../img/dirt2.png');
}

#rock {
    background-image: url('../img/rock2.png');
}

#wood {
    background-image: url('../img/wood2.png');
}

#tree {
    background-image: url('../img/tree2.png');
}