body {
    margin: 0;
    font-size: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: azure;
    background-blend-mode: hard-light;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.menu-row {
    width: 80vh;
    display: flex;
    justify-content: space-between;
    background-color: #A3CBF0;
}

.menui {
    display: flex;
    height: calc(80vh / 12);
    width: calc(80vh / 6);
    background-color: aliceblue;
    font-size: calc(80vh / 18);;
    font-family: "Minecrafter.Alt";
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
}

.menu {
    width: 80vh;
    box-sizing: border-box;
}

.tool-row {
    width: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: cornsilk; 
}

.tool {
    height: calc(80vh / 12);
}

.flex-inline {
    
    box-sizing: border-box;
}

.board {
    box-sizing: border-box;
}

.row {
    box-sizing: border-box;
    width: 80vh;
}

.tile {
    display: inline-block;
    background-image: url('../img/sky.png');
    background-size: cover;
    height: calc(80vh / 24);
    width: calc(80vh / 24);
    box-sizing: border-box;
}

.tile:hover {
    opacity: .5;
    background-color: #fff;
}

.tile.dirt {
    background-image: url('../img/dirt.jpeg');
}

.tile.grass {
    background-image: url('../img/grass.jpeg');
}

.tile.wood {
    background-image: url('../img/wood.jpg');
}

.tile.tree {
    background-image: url('../img/tree.jpeg');
}


.tile.rock {
    background-image: url('../img/rock.jpg');
}

#shovel {
    background-image: url('../img/shovel.png');
    background-size: calc(80vh / 14);
    background-repeat: no-repeat;
    background-position: center;
    height: calc(80vh / 12);
    width: calc(80vh / 12);
}

#axe {
    background-image: url('../img/axe.png');
    background-size: calc(80vh / 14);
    background-repeat: no-repeat;
    background-position: center;
    height: calc(80vh / 12);
    width: calc(80vh / 12);
}

#pickaxe {
    background-image: url('../img/pickaxe.png');
    background-size: calc(80vh / 14);
    background-repeat: no-repeat;
    background-position: center;
    height: calc(80vh / 12);
    width: calc(80vh / 12);
}

#inventory {
    background-image: url('../img/chest2.png');
    background-position: center;
    height: calc(80vh / 12);
    width: calc(80vh / 12);
    background-size: calc(80vh / 12);
    background-repeat: no-repeat;
}

@font-face {
    font-family: "Minecrafter.Alt";
    src: url("./font/Minecrafter.Alt.ttf");
}
